CompileFlags:
  Add: [-std=c++26, -I src/cpp, -I src/cpp/modules, -I src/generated]
  Compiler: clang++
  Remove: [-m64]

Diagnostics:
  Suppress: ['-Wunknown-warning-option', 'unknown-module']

Index:
  Background: Build
